@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>HR Managemet System</h1>
</div> 
<div class="row">
    <div class="col-md-4">
        <h2 class="display-4">Welcome</h2>
        <p>
            HR Management System is a web application that demonstarted how to perform CRUD
            and search operations on the employee database.</a>.
        </p>
    </div>
</div>